* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}
.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container::before {
  z-index: -1;
  background: rgb(142, 74, 224);
  background: radial-gradient(
    circle,
    rgba(142, 74, 224, 1) 5%,
    rgba(0, 223, 255, 1) 100%
  );
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card {
  padding: 1.2rem 2rem;
  background-color: #fff;
  border-radius: 1.2rem;
  text-align: center;
}
.card__inputs {
  display: flex;
  gap: 1.2rem;
}
.card__inputs-item {
  display: flex;
  color: #343a40;
  flex-direction: column;
  label {
    text-align: start;
  }
  input {
    padding: 1rem;
    border-radius: 0.6rem;
    background-color: #f1f3f5;
    border: none;
    outline: none;
    margin-top: 0.5rem;
  }
}
.calc-btn {
  position: relative;
  margin: 3rem 0;
  font-size: 4rem;
  font-weight: bold;
  padding: 1.2rem 2.4rem;
  border-radius: 0.6rem;
  border: none;
  background-color: rgba(142, 74, 224, 1);
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: rgba(142, 74, 224, 90%);
  }
}

.card__text {
  font-size: 3rem;
}
.age {
  color: rgba(142, 74, 224, 1);
}
